@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,700;1,600&display=swap");

:root {
  --gold: rgb(182, 166, 74);
  --lgrey: rgb(163, 153, 153);
  --dgrey: rgb(94, 91, 91);
  --transition: all 0.3s ease;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

button {
  border: none;
  background: none;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
  transition: var(--transition);
}

.contaier {
  margin: 0 auto;
  max-width: 100%;
  padding: 50 14px;
}

.text {
  font-size: 14px;
  margin: 28px 0 28px 0;
  color: darkgrey;
  line-height: 1.7;
}

.btn {
  display: inline-block;
  background-color: var(--dgrey);
  border: 1px solid var(--dgrey);
  font-size: 11px;
  font-family: inherit;
  width: 190px;
  padding: 16px 0;
  text-align: center;
  text-transform: uppercase;
  color: white;
  text-decoration: none;
  transition: var(--transition);
}

.btn:hover {
  background-color: aliceblue;
  color: var(--dgrey);
}

.small-button {
  height: 15px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.brand-name {
  letter-spacing: 5px;
  font-size: 1.3rem;
}
.header {
  background: url(../images/rings.jfif) center/cover no-repeat fixed;
  min-height: 100vh;
}

.header .contaier {
  max-width: 1110px;
  padding: 0 16px;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-us {
  padding: 50px 150px;
}

.about-us p {
  padding: 30px;
}

.header-top {
  justify-content: space-between;
  height: 112px;
  border-bottom: 2px solid rgb(109, 103, 103);
  padding: 0 150px;
}

.header-top button {
  width: 25px;
  height: 25px;
}

.head-top-left-icon button {
  margin-right: 15px;
}

.head-top-right-icon button:last-child {
  margin-right: 15px;
  display: flex;
}

.nav-item.active {
  display: inline;
  padding: 15px;
}

.nav-item.active a {
  text-decoration: none;
  color: inherit;
}

.brand-name {
  text-align: center;
}

.btn-lang-option {
  position: relative;
}

.btn-lang-option ul {
  position: absolute;
  top: 100%;
  left: 0;
  list-style-type: none;
  background-color: white;
  padding: 10px 16px;
  box-shadow: 0 0 15px 0 rgb(0, 0, 0, 0.2);
  display: none;
}

.btn-lang-option ul li {
  margin: 8px 0;
  text-align: left;
  color: grey;
}
.btn-lang-option ul li:hover {
  color: dimgray;
}

.btn-lang-option:hover ul {
  display: block;
}

.btn-search-bar {
  position: relative;
}

.btn-search-bar .search-box {
  position: absolute;
  top: 100%;
  left: 0;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
  border: none;
  outline: 0;
  font-family: inherit;
  padding: 8px;
  display: none;
}

.btn-search-bar:hover .search-box {
  display: block;
}

.header-main {
  min-height: calc(100vh-126px);
  padding-left: 150px;
}

.header-main-content {
  padding-top: 190px;
  max-width: 362px;
}

.header-main-content h1 {
  font-size: 56px;
  font-weight: 400;
  color: rgb(68, 68, 68);
}

.header-main-item {
  min-width: 100%;
}

.header-left-btn,
.header-right-btn {
  position: absolute;
  top: 50%;
  background-color: white;
  width: 52px;
  height: 52px;
  border: 3px solid rgb(207, 202, 202);
  border-radius: 50%;
  color: grey;
  opacity: 0;
}

.header-left-btn:hover,
.header-right-btn:hover {
  background-color: rgb(77, 73, 73);
}

.header-left-btn {
  left: 15px;
}

.header-right-btn {
  right: 15px;
}

.header:hover .header-left-btn,
.header:hover .header-right-btn {
  opacity: 1;
}

.header-main-content .btn {
  margin-top: 26px;
}

/* systems */
#services .page {
  max-width: 100%;
  padding-right: 150px;
  padding-left: 150px;
  padding-top: 50px;
}

.services-item {
  text-align: center;
  padding: 40px;
}

.services-item i {
  margin-bottom: 30px;
}

.services-item h1 {
  font-weight: 600;
  font-size: 14px;
}

.services-item .text {
  max-width: 315px;
  text-align: justify;
}

.services-list {
  justify-content: space-between;
}

/*categories*/
.categories-list {
  flex-wrap: wrap;
}

.categories-item {
  margin: 0 16px;
  position: relative;
  margin: 3rem 5.5rem;
}

.categories-item img {
  width: 550px;
}

.categories-item .btn {
  position: absolute;
  bottom: 20px;
  left: 70%;
}

/* trending */

#trending {
  margin: 100px 100px 0px 100px;
}

.section-heading {
  text-align: center;
}

.section-heading h2 {
  font-weight: 400;
  font-size: 42px;
}

.section-heading .line {
  height: 1px;
  width: 102px;
  margin: 32px auto 0 auto;
}

.section-heading .text {
  max-width: 730px;
  margin-right: auto;
  margin-left: auto;
}

.trending-filter-list {
  padding-left: 50px;
  padding-right: 50px;
  /* width: 400px; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.trending-filter-btns {
  margin-bottom: 56px;
}

.trending-filter-btns button {
  position: relative;
  width: 150px;
  height: 40px;
  background-color: rgb(61, 58, 58);
  color: white;
}

.trending-filter-btns button::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%);
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-top: 12px solid transparent;
  transition: all 0.5s ease-in;
}

.trending-filter-btns button:hover {
  background-color: grey;
}

.trending-filter-btns button::hover::after {
  border-top-color: white;
}

.trending-img {
  position: relative;
  width: 300px;
  height: 300px;
}

.trending-img::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.5s ease-in;
}

.trending-img:hover::after {
  opacity: 1;
}

#trending-img-main {
  width: 280px;
  height: 280px;

  justify-content: center;
  text-align: center;
}

.trending-img img {
  object-fit: cover;
}
.trending-box {
  position: relative;
}

.trending-box img {
  width: 280px;
  height: 280px;
  display: block;
}

.new-text .discount-text {
  position: absolute;
  top: 16px;
  width: 54px;
  height: 26px;
  background: grey;
}

.new-text {
  text-align: justify;
  padding: 10px;
}

.discount-text {
  left: 16px;
  background-color: red;
}

.trending-btns {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0 15px 35px 15px;
  z-index: 1;
  opacity: 0;
}

.trending-btns .btn {
  padding: 14px 0;
  background-color: rgb(255, 255, 255);
  color: black;
}

.trending-btns .btn:first-child {
  margin-right: 15px;
}

.trending-btns .btn:hover {
  background-color: rgb(70, 67, 67);
  color: white;
}

.trending-img:hover .trending-btns {
  opacity: 1;
}

.trending-item-price {
  padding: 20px 7px 7px 7px;
  text-align: center;
}

.trending-item-price h3 {
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 11px;
}

.price .old-price {
  color: grey;
}

.old-price {
  font-size: 13px;
  text-decoration: line-through;
}

.trending-content {
  display: flex;
  flex-direction: column;
}

.trending-content > .btn {
  margin: 70px auto 80px auto;
  display: block;
}

.activeFilterBtn {
  background-color: white;
  color: black;
}

.activeFilterBtn:hover {
  border-top-color: whitesmoke !important;
}

#banner {
  background-color: white;
  flex-wrap: wrap;
  padding-left: 150px;
  padding-right: 150px;
}

.banner-left,
.banner-right {
  width: 50%;
  height: 500px;
}

.banner-left {
  background-color: white;
}

.banner-left img {
  width: 100%;
}

.banner-right .section-heading {
  max-width: 500px;
  padding-right: 15px;
  padding-left: 15px;
}

.banner-right .btn {
  background-color: lightgray;
  color: black;
}

.banner-right .btn:hover {
  background-color: rgb(36, 35, 35);
  color: white;
}

.photos-list {
  position: relative;
  justify-content: flex-start;
  padding-left: 150px;
  padding-right: 150px;
}

.photo-item img {
  height: 100%;
  width: 100%;
}

.photo-list span {
  opacity: 1;
  top: 50%;
  left: 50%;
  color: white;
  font-size: 42px;
}

.map {
  max-width: 100%;
  padding-left: 150px;
  padding-right: 150px;
}

#footer {
  padding-left: 150px;
  padding-right: 150px;
}
#footer .contaier {
  max-width: 1037px;
  margin: 70px auto;
}

.footer-list {
  flex-wrap: wrap;
  align-items: flex-start;
}

.footer-item {
  margin: 16px;
}

.footer-item h2 {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 50px;
}

.footer-item.one a {
  display: block;
  padding-bottom: 22px;
}

.form-element {
  margin-top: 40px;
  border: 2px solid grey;
  max-width: 350px;
  height: 50px;
  font-size: 11px;
  justify-content: space-between;
}

.form-element .form-control {
  font-family: inherit;
  height: 100%;
  width: 100%;
  padding: 0 18px;
  border: none;
}

.form-element .form-control:focus {
  outline: 0;
}

.form-element .subs-btn {
  text-transform: uppercase;
  font-weight: 600;
  display: inline-block;
  margin: 0 16px;
}

.footer-item ul {
  list-style-type: none;
}

.footer-item ul li {
  margin-bottom: 20px;
}

.footer-item ul a {
  color: grey;
  font-size: 12px;
  text-decoration: none;
}

.footer-item.one {
  width: calc(32% - 33px);
}

.footer-item:not(.footer-item.one) {
  width: calc(22.6667% - 33px);
}

.copyright-text {
  background-color: rgb(59, 57, 61);
  padding: 0;
}

.copyright-text .page {
  padding: 15px 0;
  text-align: center;
}

.logo {
  width: 80%;
}

@media screen and (max-width: 1400px) {
  .trending-item {
    width: calc(25% - 33px);
  }
}

@media screen and (max-width: 1100px) {
  .categories-item {
    width: calc(50%-33px);
    margin-bottom: 33px;
  }
}

.grey-background {
  background-color: var(--dgrey);
}

/*admin home */
.admin-home {
  height: 200px;
  margin: none;
  background-color: grey;
  color: white;
  text-align: center;
  font-size: 46px;
}
