<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
      integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  <link rel="stylesheet" th:href="@{/css/styles.css}" />

  <title>Jev beauty</title>
</head>

<body>
  <div class="holder">
    <header class="">
      <div class="page">
        <div class="header-top flex">
          <div class="head-top-left-icon flex">
            <h1>jev.beauty</h1>
          </div>
          <div class="head-top-right-icon flex">
            <ul class="nav">
              <li class="nav-item active">
                <a class="nav-link" th:href="@{/}" href="#">home</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" th:href="@{/shop}" href="#">shop</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" sec:authorize="isAnonymous()" th:href="@{/login}" href="#">login</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{/logout}" href="#">logout</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" th:href="@{/cart}" href="#">cart</a>
              </li>
              <li class="nav-item active">
                <span class="nav-link" th:text="${cartCount}">0</span>
              </li>
            </ul>
          </div>

    </header>

    <main>
 <div class="jumbotron text-center">
   <div class="display-4">Welcome back!</div>
 </div>
       
    
<div class="container-fluid text-center">
    <table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Product name</th>
      <th scope="col">Category</th>
      <th scope="col">Image</th>
      <th scope="col">Description</th>
      <th scope="col">Action</th>
      
    </tr>
  </thead>
  <tbody>
    <tr th:each="product, i:${products}">
      <th scope="row" th:text="${i.index+1}">1</th>
      <td th:text="${product.name}">Mark</td>
      <td th:text="${product.category.name}">Mark</td>
      <td><img src="" height="100px" width="100px"  th:src="@{${'/images/' + product.imageName}}"></td>
      <td th:text="${product.description}">Mark</td>
      <td><a class="btn" style="background-color: rgb(155, 189, 164);" th:href="@{/admin/products/updateProduct/{id} (id=${product.id})}">Update</a>
      <a class="btn" style="background-color: rgb(173, 93, 93);" th:href="@{/admin/products/deleteProduct/{id} (id=${product.id})}">Delete</a>
      </td>
     
      
      </tr>
  
  </tbody>
</table>
<a class="btn btn-dark" style="background-color: #343a40;" th:href="@{/admin/products/addProduct}">Add new product</a>
</div>

<hr style="padding-top: 50px;">
<hr style="padding-bottom: 10px; background-color: rgb(94, 91, 91);">
      

      <section id="photos">
        <div class="photos-list flex">
          <div class="photo-item">
            <img src="images/photos.jpg" alt="" />
          </div>
        </div>
      </section>
     
    </main>

    <footer id="footer">
      <div class="page">
        <div class="footer-list flex">
          <div class="footer-item one">
            <a href="#">
              <img src="images/logo.jpg" alt="" class="logo" />
            </a>
            <p class="text">
              Lorem ipsum dolor sit, amet consectetur adipisicing elit.
              Accusamus maxime omnis iusto illo numquam non, magni quam ipsam
              minima blanditiis ad asperiores velit culpa sint commodi,
              laborum, minus aliquam enim.
            </p>
            <form>
              <div class="form-element flex">
                <input type="email" class="form-control" placeholder="Your e-mail" />
                <button type="submit" class="subs-btn">Subscribe</button>
              </div>
            </form>
          </div>
          <div class="footer-item">
            <h2>Products</h2>
            <ul>
              <li><a href="#">Prices drop</a></li>
              <li><a href="#">New products</a></li>
              <li><a href="#">Best sales</a></li>
            </ul>
          </div>
          <div class="footer-item">
            <h2>Information</h2>
            <ul>
              <li><a href="#">About us</a></li>
              <li><a href="#">Delivery</a></li>
              <li><a href="#">Payment</a></li>
              <li><a href="#">Contact</a></li>
              <li><a href="#">Sitemap</a></li>
              <li><a href="#">Stores</a></li>
            </ul>
          </div>

          <div class="footer-item">
            <h2>Your account</h2>
            <ul>
              <li><a href="#">Addresses</a></li>
              <li><a href="#">Credit sales</a></li>
              <li><a href="#">Orders</a></li>
              <li><a href="#">Personal info</a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="copyright-text">
        <div class="container">
          <p class="text">2022 - All rights reserved</p>
        </div>
      </div>
    </footer>
  </div>

  <script src="js/js.js"></script>
</body>

</html>