<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
      integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" th:href="@{/css/styles.css}" />

    <title>Jev beauty</title>
  </head>
  <body>
    <div class="holder">
      <header class="header">
        <div class="page">
          <div class="header-top flex">
            <div class="head-top-left-icon flex">
              <h1>jev.beauty</h1>
            </div>
            <div class="head-top-right-icon flex">
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto"></ul>
                <ul class="navbar-nav">
                  <li class="nav-item active">
                    <a class="nav-link" th:href="@{/}" href="#">home</a>
                  </li>
                  <li class="nav-item active">
                    <a class="nav-link" th:href="@{/admin}" href="#">admin</a>
                  </li>
                  <li class="nav-item active">
                    <a class="nav-link" th:href="@{/shop}" href="#">shop</a>
                  </li>
                  <li class="nav-item active">
                    <a
                      class="nav-link"
                      sec:authorize="isAnonymous()"
                      th:href="@{/login}"
                      href="#"
                      >login</a
                    >
                  </li>
                  <li class="nav-item active">
                    <a
                      class="nav-link"
                      sec:authorize="isAuthenticated()"
                      th:href="@{/logout}"
                      href="#"
                      >logout</a
                    >
                  </li>
                  <li class="nav-item active">
                    <a class="nav-link" th:href="@{/cart}" href="#">cart</a>
                  </li>
                  <li class="nav-item active">
                    <span class="nav-link" th:text="${cartCount}">0</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="header-main">
            <div class="header-main-content">
              <div class="header-main-list">
                <div class="header-main-item" data-id="1">
                  <h1>Rings</h1>
                  <p class="text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Officia tenetur nihil repellendus aliquid nesciunt
                    accusantium rem. Eaque quia, nostrum voluptates iste autem
                    aliquid mollitia tenetur nisi fugit beatae ratione
                    explicabo!
                  </p>
                  <a href="#" class="btn">Discover more</a>
                </div>

                <div class="header-main-item" data-id="2">
                  <h1>Necklaces</h1>
                  <p class="text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Officia tenetur nihil repellendus aliquid nesciunt
                    accusantium rem. Eaque quia, nostrum voluptates iste autem
                    aliquid mollitia tenetur nisi fugit beatae ratione
                    explicabo!
                  </p>
                  <a href="#" class="btn">Discover more</a>
                </div>

                <div class="header-main-item" data-id="3">
                  <h1>Bracelets</h1>
                  <p class="text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Officia tenetur nihil repellendus aliquid nesciunt
                    accusantium rem. Eaque quia, nostrum voluptates iste autem
                    aliquid mollitia tenetur nisi fugit beatae ratione
                    explicabo!
                  </p>
                  <a href="#" class="btn">Discover more</a>
                </div>

                <div class="header-main-item" data-id="4">
                  <h1>Earrings</h1>
                  <p class="text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Officia tenetur nihil repellendus aliquid nesciunt
                    accusantium rem. Eaque quia, nostrum voluptates iste autem
                    aliquid mollitia tenetur nisi fugit beatae ratione
                    explicabo!
                  </p>
                  <a href="#" class="btn">Discover more</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <button type="button" class="header-left-btn flex">
          <i class="fas fa-chevron-left fa-2x"></i>
        </button>
        <button type="button" class="header-right-btn flex">
          <i class="fas fa-chevron-right fa-2x"></i>
        </button>
      </header>

      <main>
        <section id="services">
          <div class="page">
            <div class="services-list flex">
              <div class="services-item">
                <i class="fa-solid fa-wallet fa-2x"></i>
                <h2>Discount system</h2>
                <p class="text">
                  Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                  Laborum blanditiis reprehenderit necessitatibus quos, commodi
                  modi minima maiores eum iure totam. Accusamus quas a repellat
                  corrupti, vero atque provident voluptatem voluptates?
                </p>
              </div>

              <div class="services-item">
                <i class="fa-solid fa-address-card fa-2x"></i>
                <h2>Membership discounts</h2>
                <p class="text">
                  Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                  Laborum blanditiis reprehenderit necessitatibus quos, commodi
                  modi minima maiores eum iure totam. Accusamus quas a repellat
                  corrupti, vero atque provident voluptatem voluptates?
                </p>
              </div>

              <div class="services-item">
                <i class="fa-solid fa-truck-fast fa-2x"></i>
                <h2>24h shipping</h2>
                <p class="text">
                  Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                  Laborum blanditiis reprehenderit necessitatibus quos, commodi
                  modi minima maiores eum iure totam. Accusamus quas a repellat
                  corrupti, vero atque provident voluptatem voluptates?
                </p>
              </div>
            </div>
          </div>
        </section>

        <section id="categories">
          <div class="page">
            <div class="categories-list flex">
              <div class="categories-item">
                <img src="images/rings.jfif" alt="" />
                <a href="#" class="btn">Rings</a>
              </div>

              <div class="categories-item">
                <img src="images/bracelet.jfif" alt="" />
                <a href="#" class="btn">Bracelets</a>
              </div>

              <div class="categories-item">
                <img src="images/necklace.jfif" alt="" />
                <a href="#" class="btn">Necklaces</a>
              </div>

              <div class="categories-item">
                <img src="images/earrings.jfif" alt="" />
                <a href="#" class="btn">Earrings</a>
              </div>
            </div>
          </div>
        </section>

        <section id="trending">
          <div class="page">
            <div class="section-heading">
              <h2>Top trending</h2>
              <div class="line"></div>
              <p class="text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore
                est in asperiores suscipit eos, eveniet necessitatibus error
                officiis iusto deleniti molestias, facere ut unde vitae.
                Officiis ducimus animi eveniet? Deleniti.
              </p>
            </div>

            <div class="trending-content">
              <div class="trending-filter-btns flex">
                <button type="button" class="filter-btn">New Prodcuts</button>
                <button type="button" class="filter-btn">Prices drop</button>
                <button type="button" class="filter-btn">Best sales</button>
              </div>
              <div class="trending-filter-list flex">
                <div class="trending-item" data-product="1">
                  <div class="trending-img">
                    <img src="images/t1.jfif" alt="trending img" />
                    <span class="new-text flex">New</span>
                    <div class="trending-btns flex">
                      <a href="#" class="btn">quick view</a>
                      <a href="#" class="btn">more details</a>
                    </div>
                  </div>
                  <div class="trending-item-price">
                    <h3>Eye of the sun</h3>
                    <span class="price">$789.00</span>
                    <span class="old-price"></span>
                  </div>
                </div>

                <div class="trending-item" data-product="2">
                  <div class="trending-img">
                    <img src="images/t2.jfif" alt="trending img" />
                    <span class="new-text flex">New</span>
                    <div class="trending-btns flex">
                      <a href="#" class="btn">quick view</a>
                      <a href="#" class="btn">more details</a>
                    </div>
                  </div>
                  <div class="trending-item-price">
                    <h3>Sun brisk</h3>
                    <span class="price">$789.00</span>
                    <span class="old-price">$1200</span>
                  </div>
                </div>

                <div class="trending-item" data-product="3">
                  <div class="trending-img">
                    <img src="images/t3.jfif" alt="trending img" />
                    <span class="discount-text flex">-30%</span>
                    <div class="trending-btns flex">
                      <a href="#" class="btn">quick view</a>
                      <a href="#" class="btn">more details</a>
                    </div>
                  </div>
                  <div class="trending-item-price">
                    <h3>Heart</h3>
                    <span class="price">$689.00</span>
                    <span class="old-price">$999</span>
                  </div>
                </div>

                <div class="trending-item" data-product="1">
                  <div class="trending-img">
                    <img src="images/t4.jfif" alt="trending img" />
                    <span class="new-text flex">New</span>
                    <div class="trending-btns flex">
                      <a href="#" class="btn">quick view</a>
                      <a href="#" class="btn">more details</a>
                    </div>
                  </div>
                  <div class="trending-item-price">
                    <h3>Queen's eyes</h3>
                    <span class="price">$789.00</span>
                    <span class="old-price"></span>
                  </div>
                </div>

                <div class="trending-item" data-product="3">
                  <div class="trending-img">
                    <img src="images/t5.jfif" alt="trending img" />
                    <span class="discount-text flex">-30%</span>
                    <div class="trending-btns flex">
                      <a href="#" class="btn">quick view</a>
                      <a href="#" class="btn">more details</a>
                    </div>
                  </div>
                  <div class="trending-item-price">
                    <h3>Eye of the storm</h3>
                    <span class="price">$689.00</span>
                    <span class="old-price">$999</span>
                  </div>
                </div>

                <div class="trending-item" data-product="1">
                  <div class="trending-img">
                    <img src="images/t6.jfif" alt="trending img" />
                    <span class="new-text flex">New</span>
                    <div class="trending-btns flex">
                      <a href="#" class="btn">quick view</a>
                      <a href="#" class="btn">more details</a>
                    </div>
                  </div>
                  <div class="trending-item-price">
                    <h3>Gold earrings</h3>
                    <span class="price">$789.00</span>
                    <span class="old-price"></span>
                  </div>
                </div>

                <div class="trending-item" data-product="3">
                  <div class="trending-img">
                    <img src="images/t7.jfif" alt="trending img" />
                    <span class="discount-text flex">-30%</span>
                    <div class="trending-btns flex">
                      <a href="#" class="btn">quick view</a>
                      <a href="#" class="btn">more details</a>
                    </div>
                  </div>
                  <div class="trending-item-price">
                    <h3>Rose</h3>
                    <span class="price">$689.00</span>
                    <span class="old-price">$999</span>
                  </div>
                </div>

                <div class="trending-item" data-product="2">
                  <div class="trending-img">
                    <img src="images/t8.jfif" alt="trending img" />
                    <span class="new-text flex">New</span>
                    <div class="trending-btns flex">
                      <a href="#" class="btn">quick view</a>
                      <a href="#" class="btn">more details</a>
                    </div>
                  </div>
                  <div class="trending-item-price">
                    <h3>Snow flake</h3>
                    <span class="price">$789.00</span>
                    <span class="old-price">$1200</span>
                  </div>
                </div>

                <div class="trending-item" data-product="3">
                  <div class="trending-img">
                    <img src="images/t9.jfif" alt="trending img" />
                    <span class="discount-text flex">-30%</span>
                    <div class="trending-btns flex">
                      <a href="#" class="btn">quick view</a>
                      <a href="#" class="btn">more details</a>
                    </div>
                  </div>
                  <div class="trending-item-price">
                    <h3>Silver bracelet</h3>
                    <span class="price">$689.00</span>
                    <span class="old-price">$999</span>
                  </div>
                </div>

                <div class="trending-item" data-product="2">
                  <div class="trending-img">
                    <img src="images/t10.jfif" alt="trending img" />
                    <span class="new-text flex">New</span>
                    <div class="trending-btns flex">
                      <a href="#" class="btn">quick view</a>
                      <a href="#" class="btn">more details</a>
                    </div>
                  </div>
                  <div class="trending-item-price">
                    <h3>Golden bracelet</h3>
                    <span class="price">$789.00</span>
                    <span class="old-price">$1200</span>
                  </div>
                </div>
              </div>
              <a href="#" class="btn">All products</a>
            </div>
          </div>
        </section>
        <section id="banner" class="flex">
          <div class="banner-left flex">
            <img src="images/jbox.jfif" alt="banner img" />
          </div>
          <div class="banner-right flex">
            <div class="section-heading">
              <h2>About our products</h2>
              <div class="line"></div>
              <p class="text">
                Explore stunning jewellery online. From elegant diamonds to
                captivating gemstones, find the perfect piece for any occasion.
              </p>
              <a href="#" class="btn">Discover more</a>
            </div>
          </div>
        </section>

        <section id="photos">
          <div class="photos-list flex">
            <div class="photo-item">
              <img src="images/photos.jpg" alt="" />
            </div>
          </div>
        </section>
        <section id="map">
          <img src="images/mapa.jpg" alt="location map" class="map" />
        </section>
      </main>

      <footer id="footer">
        <div class="page">
          <div class="footer-list flex">
            <div class="footer-item one">
              <a href="#">
                <img src="images/logo.jpg" alt="" class="logo" />
              </a>
              <p class="text">
                Explore stunning jewellery online. From elegant diamonds to
                captivating gemstones, find the perfect piece for any occasion.
              </p>
              <form>
                <div class="form-element flex">
                  <input
                    type="email"
                    class="form-control"
                    placeholder="Your e-mail"
                  />
                  <button type="submit" class="subs-btn">Subscribe</button>
                </div>
              </form>
            </div>
            <div class="footer-item">
              <h2>Products</h2>
              <ul>
                <li><a href="#">Prices drop</a></li>
                <li><a href="#">New products</a></li>
                <li><a href="#">Best sales</a></li>
              </ul>
            </div>
            <div class="footer-item">
              <h2>Information</h2>
              <ul>
                <li><a href="#">About us</a></li>
                <li><a href="#">Delivery</a></li>
                <li><a href="#">Payment</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">Sitemap</a></li>
                <li><a href="#">Stores</a></li>
              </ul>
            </div>

            <div class="footer-item">
              <h2>Your account</h2>
              <ul>
                <li><a href="#">Addresses</a></li>
                <li><a href="#">Credit sales</a></li>
                <li><a href="#">Orders</a></li>
                <li><a href="#">Personal info</a></li>
              </ul>
            </div>
          </div>
        </div>

        <div class="copyright-text">
          <div class="page">
            <p class="text">2022 - All rights reserved</p>
          </div>
        </div>
      </footer>
    </div>

    <script src="js/js.js"></script>
  </body>
</html>
